<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>NLP Analysis</title>
</head>

<body class="grid-main">
    <header class="grid-header">
        <h1>Natural Language Processing</h1>
    </header>
    <main>
        <section class="grid-form">
            <p class="intro-text">please enter a link in the field and click on submit.<br>
                You will receive a sentiment anaylsis of that page.</p>
            <form class="grid-form" onsubmit="return Client.handleSubmit(event)">
                <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Link">
                <input id="submit" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)"
                    onsubmit="return Client.handleSubmit(event)">
            </form>
        </section>
        <section id="results" class="grid-results">
        </section>
    </main>

    <footer class="grid-footer">
        <p>made with ❤️ by Ozzie Kuda from Berlin</p>
        <div class="links">
        <a href="https://ch.linkedin.com/in/ozzie-kuda-1458b8b8" target="_blank">
            <span>LinkedIn</span>
        </a>
        <a href="https://www.youtube.com/channel/UCOXTUC5-jj2aOSgHTkpm_Tw" target="_blank">
            <span>YouTube</span>
        </a>
        <a href="https://github.com/OzzieKuda" target="_blank">
            <span>GitHub</span>
        </a>
        </div>
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>
</html>
