@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

* {
    font-family: 'Kumbh Sans', sans-serif;
    color: white;
}

// html {
//     background-color: white;
// }

.grid-main {
    display: grid;
    grid-template-rows: max-content max-content min-content max-content;
    grid-template-columns: 100%;
    grid-gap: 0.2rem;
    grid-template-areas:
        "header"
        "form"
        "results"
        "footer";
}

body {
    display: flex;
    flex-direction: column;
    background: #000046;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 3em;
    margin: 0.5em;
}

 .intro-text {
     font-size: 1.5em;
     padding: 0 2em;
 }

div.response__container {
    grid-area: results;
    margin: 4em 0;
 }