.grid-footer {
    grid-area: footer;
}

footer {
    margin: 0;
    padding: 0;
    // background-color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    color: #aaa;
    text-align: center;
    font-size: small;

     a {
         text-decoration: underline;
         color: white;
         margin: 0 1em;
     }

}