.grid-footer {
    grid-area: footer;
}

footer {
    margin: 0;
    padding: 0;
    background-color: white;
    min-height: 20vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    color: #aaa;
    text-align: center;

    p {
        padding: 0.5em;
    }
}