form {
    display: flex;
    flex-flow: row;
    margin: 1em 8em;
}

input {
    color: black;
    flex: 9 1 auto;
    height: 2rem;
}

#submit {
    cursor: pointer;
    flex: 1 1 auto;
    height: 2rem;
    background-color: yellow;
    border: none;
    // &:hover {}
}