.grid-form {
    grid-area: form;
}

form {
    display: flex;
    flex-flow: row;
    margin: 1em 8em;
    height: 2rem;
    background-color: none;
}

input {
    color: black;
    background-color: #ffffffaa;
    flex: 9 1 auto;
    height: 2rem;
    border: none;
    padding: 0.1em 1em;
}

#submit {
    color: #000;
    font-size: large;
    cursor: pointer;
    flex: 1 1 auto;
    height: 2rem;
    border: none;
    background: #F2994A;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F2C94C, #F2994A);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    // &:hover {}
}