section.grid-results {
    grid-area: results;
}

.response__container {
    margin: 4em 0;
    transition: all 1s ease-in-out;
}

.category {
    font-weight: 700;
}

.disclaimer {
    font-size: small;
}